<?xml version="1.0"?>

<launch>
	<arg name="ns"      default="dsr01"/>
	<arg name="model"   default="m1013"/>
	<arg name="color"   default="white"/>    
    <arg name="mobile"  default="none"/>
	<arg name="gripper" default="none"/>
	<arg name="camera_use" default="false"/>

	<!-- ARM 모델  -->
    <group if="$(eval arg('mobile') == 'none')">
       <param name="/$(arg ns)/robot_description" command="$(find xacro)/xacro '$(find dsr_description)/xacro/$(arg model).urdf.xacro'
	                           '--inorder' 'namespace:=$(arg ns)' color:=$(arg color) gripper:=$(arg gripper)"/>
	</group>



	 <group if="$(eval arg('model') == 'a0912')">
		<node pkg="tf" type="static_transform_publisher" name="map" args="0 0 0 0 0 0 world map 100"  />
        <param name="/$(arg ns)/robot_description" command="$(find xacro)/xacro '$(find dsr_description)/xacro/a0912_140gripper_camera.urdf.xacro'
	                           '--inorder' 'namespace:=$(arg ns)' color:=$(arg color) gripper:=$(arg gripper) use_nominal_extrinsics:=true add_plug:=true "/>
	   
	    <!-- cam topic publish -->
		<node pkg="tf" type="static_transform_publisher" name="pointcloud" args="0 0 0 0 0 0 dsr01/camera_depth_optical_frame camera_depth_optical_frame 100"  />
		<node pkg="tf" type="static_transform_publisher" name="camera" args="0 0 0 0 0 0 dsr01/camera_color_optical_frame camera_color_optical_frame 100"  />

	</group>


	<!-- ARM + Mobile 모델 -->
    <group if="$(eval arg('mobile') == 'husky')">
    	<param name="/$(arg ns)/robot_description" command="$(find xacro)/xacro '$(find dsr_description)/xacro/$(arg model)mobile.urdf.xacro'
	    	                   '--inorder' 'namespace:=$(arg ns)' color:=$(arg color) gripper:=$(arg gripper)" />
	</group>
    
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="$(arg ns)">
		<param name="tf_prefix" value="$(arg ns)" />
		<param name="robot_description" value="/$(arg ns)/robot_description"  />
        
        <remap from="/$(arg ns)/joint_states" to="/$(arg ns)$(arg model)/joint_states" />
        
        <!-- for camera publish -->
        <param name="publish_frequency" type="double" value="30.0" />

	
	</node>


</launch>
